<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>头像</string>
			<key>height</key>
			<string>80</string>
			<key>type</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>用户昵称</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>邮箱</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>公司名称</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>性别</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>所在地区</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>QQ</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>地址管理</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>手机</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>2</string>
		</dict>
		<dict>
			<key>title</key>
			<string>修改密码</string>
			<key>height</key>
			<string>44</string>
			<key>type</key>
			<string>3</string>
		</dict>
	</array>
</array>
</plist>
